.note-component {
    margin: 10px 20px;
    padding: 5px 10px;

    border: 1px solid transparent;
    border-radius: 5px;

    flex-direction: row;
}

.alert {
    background-color: #ffece8;
    /* border-color: tomato */
}

.good {
    background-color: #d8ffdf;
    /* border-color: aquamarine */
}

.selected {
    /* background-color: white; */
    border: 2px solid purple;
}

.note-component_left-column {
    display: inline;
    flex-direction: column;

}

.note-component_right-column {
    display: inline;
    flex-direction: column;
}
