.user-input-block {
    display: flex;
    height: 100%;
    width: 40%;

    margin: auto;

    text-align: center;
    flex-direction: column;
    justify-content: space-between;

}

.user-input-block_inputs {
    width: 70%;
}

.user-input-block_buttons {

}
